#arrowLeft, #arrowRight {
    top: calc(50% - 40px);
    min-width:50px;
}
#part2 {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
}
#mapId {
    width: 100%;
    border: 1px yellow solid;
    height: 600px;
}
#divForm {
    display:none;
    width: 100%;
    height: 600px;
    border: 1px green solid;
}
#divForm fieldset {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.input {
    display : flex;
    flex-direction: row;
    justify-content: start;
    align-content: center;
}

.input label {
    width: calc(100px + 0.8vw);
}
.input input {
    width: 80%;
}
#réserver {
    text-align: center;
    margin:auto;
}