@font-face {
    font-family: "BIKES";
    src: url("../fonts/BIKES.otf") format("opentype"),
    url("../fonts/BIKES.ttf") format("truetype");
}

body {
    font-family: "Arial Narrow", serif;
}

h1 {
    font-family: BIKES;
}
/*
 ====================================== SLIDER ===============================================
 */
#imgSlider {
    /* ... */
    margin-left: -20px; /* Simplifie le calcul des positions initiale et finale du bloc */
    animation-name: testAnim; /* Nom de l'animation */
    animation-duration: 6s; /* Durée de l'animation */
    animation-fill-mode: forwards; /* Laisse le bloc dans sa position finale */
}

@keyframes testAnim {
    0% {
        border: 3px solid red;
    }
    50% {
        border: 3px solid yellow;
    }
    100% {
        border: 3px solid red;
    }
}
#slider {
    position:relative;
    width: 100%;
    margin:0;
    padding:0;
}
#figureSlider, #imgSlider, #figcaptionSlider {
    margin:0;
    padding: 0;
    width: 100%;
}
#arrowLeft, #arrowRight{
    position: absolute;
    border-radius: 50%;
    background: rgba(125,125,125,0.5);
    top:45%;
    width: 5%;
    origin: center;
}
#arrowLeft {
    left:0;
}
#arrowRight {
    right: 0;
}
#arrowLeft:hover, #arrowRight:hover {
    background: rgba(255,225,225,0.8);
}
figcaption {
    text-align: center;
    width: 100%;
    background: darkseagreen;
}
/*
    =========================== 2nd part ================================
 */
#part2 {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}
/*
 =========================== MAP ========================
 */
#mapid {
    width: 74%;
    border: 1px yellow solid;
    height: 350px;
}/*
#mapid iframe {
    width: 100%;
}*/
/*
 =========================== FORM ========================
 */
#form {
    width: 25%;
    border: 1px green solid;
}
#form fieldset {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.input {
    display : flex;
    flex-direction: row;
    justify-content: start;
    align-content: center;
}

.input label {
    width: 80px;
}
.input input {
    width: 80%;
}
#réserver {
    text-align: center;
    margin:auto;
}