@font-face {
    font-family: "BIKES";
    src: url("../fonts/BIKES.otf") format("opentype"),
    url("../fonts/BIKES.ttf") format("truetype");
}

body {
    font-family: "Arial Narrow", serif;
    font-size: calc(12px + 0.6vw);
}
form input {
    font-family: "Arial Narrow", serif;
    font-size: calc(12px + 0.6vw);
}

h1 {
    font-family: BIKES;
    text-align: center;
}
/*
 ====================================== SLIDER ===============================================
 */
/*
#imgSlider {
    width:100%;
    margin-left: -20px;
    animation-name: testAnim;
    animation-duration: 6s;
    animation-fill-mode: forwards;
}
@keyframes testAnim {
    0% {
        border: 3px solid red;
    }
    50% {
        border: 3px solid yellow;
    }
    100% {
        border: 3px solid red;
    }
}*/
#slider {
    position:relative;
    margin: auto;
    width: 80%;
}
#figureSlider, #imgSlider, #figcaptionSlider {
    margin:0;
    padding: 0;
    width: 100%;
}
#arrowLeft, #arrowRight, #pauseButton, #playButton{
    position: absolute;
    border-radius: 50%;
    background: rgba(125,125,125,0.5);
    top:45%;
    width: 5%;
    origin: center;
}

#arrowLeft {
    left: 5px;
}
#arrowRight {
    right: 5px;
}
#arrowLeft:hover, #arrowRight:hover, #pauseButton:hover, #playButton:hover {
    background: rgba(255,225,225,0.8);
}
#pauseButton, #playButton {
    left: 47%;
}
figcaption {
    text-align: center;
    width: 100%;
    background: darkseagreen;
}
/*
    =========================== 2nd part ================================
 */
#part2 {
    width: 82%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}
/*
 =========================== MAP ========================
 */
#mapId {
    width: 100%;
    border: 1px yellow solid;
    height: 500px;
    margin: 1%;
}
/*
 =========================== FORM ========================
 */
#divForm {
    display:none;
    width: 0;
    margin: 1%;
}
#divForm fieldset {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
p {
    margin : 10px auto 8px auto;
}
.input {
    display : flex;
    flex-direction: row;
    justify-content: start;
    align-content: center;
}

.input label {
    width: calc(100px + 0.6vw);
}
.input input {
    width: 80%;
}
#réserver {
    text-align: center;
    margin:auto;
}
/*
 ===================== CANVAS =====================================
 */
canvas { border: 1px solid #ccc;}
#finalText {
    text-align: center;
}